[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyserial = "*"
matplotlib = "*"
numpy = "*"
tensorflow = "*"
scikit-learn = "*"
seaborn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9.6"
